<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
      <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	  <!-- Bootstrap CSS -->
	  <link th:rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" >
	   
	  <title>Accedi</title>
	  
	 <!-- Favicons -->
	<link th:rel="apple-touch-icon" th:src="@{/assets/img/favicons/apple-touch-icon.png}" th:sizes="180x180">
	<link th:rel="icon" th:src="@{/assets/img/favicons/favicon-32x32.png}" th:sizes="32x32" th:type="@{image/png}">
	<link th:rel="icon" th:href="@{/assets/img/favicons/favicon-16x16.png}" th:sizes="16x16" th:type="@{image/png}">
	<link th:rel="manifest" th:href="@{/assets/img/favicons/manifest.json}">
	<link th:rel="mask-icon" th:href="@{/assets/img/favicons/safari-pinned-tab.svg}">
	<link th:rel="icon" th:href="@{/assets/img/favicons/favicon.ico}">
	<meta th:name="msapplication-config" th:content="@{/assets/img/favicons/browserconfig.xml}">
	<meta th:name="theme-color" >  
	
	
	   <style>
	    .bd-placeholder-img {
	      font-size: 1.125rem;
	      text-anchor: middle;
	      -webkit-user-select: none;
	      -moz-user-select: none;
	      -ms-user-select: none;
	      user-select: none;
	    }
	
	    @media (min-width: 768px) {
	      .bd-placeholder-img-lg {
	        font-size: 3.5rem;
	      }
	    }
	  </style>
	  
	  <!-- Custom styles for this template -->
	  <link  th:rel="stylesheet" th:href="@{/assets/css/signin.css}">
	  
</head>
<body class="text-center">
 
<form action="#" th:action="@{/auth/signin}" class = "form-signin" method="post" th:object="${userSigninModel}">
<img class="mb-4" th:src="@{/assets/brand/bootstrap-solid.svg}" alt="" width="72" height="72">
<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" th:field="*{username}" class="form-control" placeholder="Username" required autofocus/>
    
    <label for="password" class="sr-only">Password</label>
    <input type="password" th:field="*{password}" class="form-control" placeholder="password" required/>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Sign in</button>
		 
    <a th:href="@{/auth/signup}">Registrati</a>
     <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
     <p style="color: red" th:if="${param.loginError}">Errore di login</p>
</form>

</body>
</html>


		
	   	
	   	
		  
			
			
		   
		 
		