<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Sign-up</h1>
<form action="#" th:action="@{/nationRepresentative/signup}" method="post" th:object="${nationRepresentativeInsertModel}">

    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    
    <p>Surname: <input type="text" th:field="*{surname}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
    
    <p>Fiscal Code: <input type="text" th:field="*{fiscalCode}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('fiscalCode')}" th:errors="*{fiscalCode}"></p>
    
    <p>Username: <input type="text" th:field="*{userSignupMessageDto.username}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('userSignupMessageDto.username')}" th:errors="*{userSignupMessageDto.username}"></p>

    <p>Password: <input type="password" th:field="*{userSignupMessageDto.password}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('userSignupMessageDto.password')}" th:errors="*{userSignupMessageDto.password}"></p>

    <p>Repeate Password: <input type="password" th:field="*{userSignupMessageDto.repeatePassword}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('userSignupMessageDto.repeatePassword')}" th:errors="*{userSignupMessageDto.repeatePassword}"></p>
    
         <div class="form-group col-md-6">
             	<label>Nation<span class="text-danger">*</span></label>  
				    <select th:field="*{nation}">
						<option value="">- Select Nation -</option>
						<option  th:each= "nation : ${nations}"  th:value="${nation.id}" th:text="${nation.name}" />
					</select>	
		 		<p style="color:red" th:if="${#fields.hasErrors('nation')}" th:errors="*{nation}"></p>
		 	</div>
    <p><input type="submit" value="Submit"/></p>
    <a th:href="@{/auth/signin}">Login</a>

</form>
</body>
</html>