<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href=" @{/assets/css/bootstrap.min.css}" >

<!-- Favicons -->
<link th:rel="apple-touch-icon" th:href="@{/assets/img/favicons/apple-touch-icon.png}" th:sizes="180x180">
<link th:rel="icon" th:href="@{/assets/img/favicons/favicon-32x32.png}" th:sizes="32x32" th:type="@{image/png}">
<link th:rel="icon" th:href="@{/assets/img/favicons/favicon-16x16.png}" th:sizes="16x16" th:type="@{image/png}">
<link th:rel="manifest" th:href="@{/assets/img/favicons/manifest.json}">
<link th:rel="mask-icon" th:href="@{/assets/img/favicons/safari-pinned-tab.svg}" >
<link th:rel="icon" th:href="@{/assets/img/favicons/favicon.ico}">
<meta th:name="msapplication-config" th:content="@{/assets/img/favicons/browserconfig.xml}">
<meta th:name="theme-color" >



<style>
	.bd-placeholder-img {
	  font-size: 1.125rem;
	  text-anchor: middle;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
</style>
</html>