<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
    <title>Dashboard Nation Representative</title>
 <link th:rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" >
 <link th:href="@{/assets/css/global.css}" th:rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
<nav th:include="@{/navbar.html}"></nav>
<main role="main" class="container">
         <div class='card'>
		    <div class='card-header'>
		        <h5>Dashboard Nation Representative</h5> 
		    </div>
		    <div class='card-body'>
    <form action="#" th:action="@{/organizer/registerRappresentation}" th:object="${searchFilters}" method="get">
<p> <a class="btn btn-primary" th:href="@{/organizer/signup}"> Register Nation Representative</a></p>
 <div class="form-row">
          		<div class="form-group col-md-6">
					<label>Name: </label> 
					<input th:field="*{name}" type="text">
				</div>
				<div class="form-group col-md-6">
					<label>Surname: </label> 
					<input th:field="*{surname}" type="text">
				</div>
				<div class="form-group col-md-6">
					<label>Fiscal Code: </label> 
					<input th:field="*{fiscalCode}" type="text">
				</div>
				<div class="form-group col-md-6">
					<label>Username: </label> 
					<input th:field="*{userSearchDto.username}" type="text">
				</div>
				<div class="form-group col-md-6">
				    <label>Nation:</label> 
					<select th:field="*{nation}">
						<option value="">- Select Nation -</option>
						<option  th:each= "nation : ${nations}"  th:value="${nation.id}" th:text="${nation.name}" />
					</select>	
				</div>		
				   <p><input class="btn btn-primary" type="submit" value="Search"/></p>
        </div>
    </form>
</div>
<table class='table table-striped '>
    <thead>
    <tr>
       
        <th>Name</th>
        <th>Surname</th>
        <th>Fiscal Code</th>
        <th>Username</th>
        <th>Nation</th>
        <th> Action </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="nationRepresentative: ${nationRepresentative}" th:object="${nationRepresentative}" >
        <td th:text="*{name}"></td>
        <td th:text="*{surname}"></td>
        <td th:text="*{fiscalCode}"></td>
        <td th:text="*{userDto.username}"></td>
         <td th:text="*{nationDto.name}"></td>
        <td>
        <a class="btn btn-sm btn-outline-secondary"  th:href="@{/organizer/showRepresentative(id=${nationRepresentative.id})}"> view </a>
        <a class="btn btn-sm btn-outline-primary ml-2 mr-2" th:href="@{/organizer/showRepresentative(id=${nationRepresentative.id})}"> update</a>
          <a class="btn btn-outline-danger btn-sm" th:href="@{/organizer/prepareDeleteNationRepresentative/{idDelete}(idDelete=*{id})}"> delete</a>
        </td>
    </tr>
    </tbody>
</table>
		 </div>
 </main> 		
<footer th:include="@{/footer.html}"></footer>
</body>
</html>
